<script src="http://d3js.org/d3.v2.js"></script>
<h1>Simple D3 Chart Demo</h1>
<p>Find me in app/views/d3try/index.html.erb</p>
<p>Here is a blue rectangle generated using the canvas tag:
	<br />
	<canvas width="500" height="50" class="blue-bg">
	</canvas>
</p>

